{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">영화 정보 조회</h1>
<p>영화명: {{ movies.title }}</p>
<p>영화명(영문): {{ movies.title_en }}</p>
<p>누적 관객수: {{ movies.audience }}</p>
<p>개봉일: {{ movies.open_date }}</p>
<p>장르: {{ movies.genre }}</p>
<p>관람등급: {{ movies.watch_grade }}</p>
<p>평점: {{ movies.score }}</p>
<p>포스터 이미지 URL: {{ movies.poster_url }}</p>
<p><img src ="{{ movies.poster_url }}" width="400" height="550"></p>
<p>영화 소개: {{ movies.description }}</p>
<hr>
<a href="{% url 'movies:index' %}">[영화 목록]</a>
<a href="{% url 'movies:edit' movies.pk %}">[수정]</a>
<a href="{% url 'movies:delete' movies.pk %}">[삭제]</a>  
{% endblock body %}
