.font-1 {
  font-size: 30px;

  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.font-2 {
  font-size: 2rem;
  font-weight: bolder;
}

.font-3 {
  font-size: 130%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.font-4 {
  font-size: small;
}

.font-5 {
  font: italic 2rem Courier;
}